/* styles/base.css */

/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #f8f9fa;
  color: #333;
}

/* Header Styles */
header {
  background-color:#2274A5;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}

h1 {
  font-size: 1.8rem;
  color: white;
}

h1 span {
  color: #E7DFC6;
  font-weight: bold;
}

/* Navigation */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #816C61;
  padding: 0.75rem 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  transition: background 0.3s, color 0.3s;
}

nav a:hover {
  background-color: #fcbf49;
  color: #2274A5;
}

/* Main Content */
main {
  max-width: 900px;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.card {
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #2274A5;
}

.card img {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

/* Footer */
footer {
  background-color: #2274A5;
  color: #fff;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}

footer p {
  margin: 0.5rem 0;
}
